<section class="ftco-section ftco-agent">
  <div class="container">
  <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="img">
          <%= attachment_image_tag @user, :img, format: 'png', fallback: "noimage.png", class: "img", size: "400x400" %>
        </div>
          <h3><%= @user.nick_name %></h3>
					<p><%= @user.introduction %></P>
          <% if @user == current_user %>
            <%= link_to "編集する", edit_user_path, class: "btn btn-primary" %>
          <% end %>
          <% if @user == current_user %>
            <%= link_to "自分の日記帳を見る", words_path(current_user), class: "btn btn-primary" %>
          <% else %>
            <%= link_to "日記帳を見る", words_path(@user), class: "btn btn-primary" %>
          <% end %>
          <%= link_to "一覧に戻る", users_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</section>

