<%= form_with(model: @word, local: true) do |f| %>
<%# エラーメッセージ %>
<%= render 'users/shared/error_massages_ja', tmp: @word %>
<div class="title">
  <%= f.label :title %><br>
  <%= f.text_field :title, placeholder: "タイトルを入力してね" %>
</div>
<div class="body">
  <%= f.label :body %><br>
  <%= f.text_field :body, placeholder: "「ひとこと」を入力してね" %>
</div>
<div class="time">
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time %>
</div>
<div class="submit">
  <%= f.submit %>
</div>
<% end %>
