<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>今月投稿した「ひとこと」</h1>
  <%= link_to "「ひとこと」書く", new_word_path, class: "btn btn-primary" %><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>日付時刻</th>
        <th>タイトル</th>
        <th>「ひとこと」</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody> 
      <% @words.each do |word| %>
      <% if word.user_id == current_user.id %>
      <tr>
        <td><%= word.start_time.strftime("%m月%d日 %H:%M") %></td>
        <td><%= word.title %></td>
        <td><%= word.body %></td>
        <td><%= link_to "詳細", word_path(word.id), class: "btn btn-primary" %></td>
        <td>
          <%= link_to "削除",word_path(word.id), method: :delete, data: { confirm: "「ひとこと」を削除しますか？" }, class: "btn", id: "btn-delete" %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @words %>
</div>
