<div class="container">
  <h1>「ひとこと」書いてみよう</h1>
  <%= form_with(model: @word, local: true) do |f| %>
  <%# エラーメッセージ %>
  <%= render 'users/shared/error_massages_ja', tmp: @word %>
  <div class="title">
    <%= f.label :タイトル %><br>
    <%= f.text_field :title, placeholder: "タイトルを入力してね" %>
  </div>
  <div class="body">
    <%= f.label :ひとこと %><br>
    <%= f.text_field :body, placeholder: "「ひとこと」を入力してね" %>
  </div>
  <div class="time">
    <%= f.label :ひとこと作成日時 %>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="submit">
    <%= f.submit %>
  </div>
  <% end %>
</div>
