<div class="row">
  <div class="col-xs-3">

    <h2>User info</h2>
    <%= render 'users/profile', user: current_user %>

    <h2>New word</h2>
    <%= render 'words/newform', word: @create_word %>

  </div>

  <div class="col-xs-9">
    <h2>Book detail</h2>

    <table class="table">
      <tr>
        <td>
          <%= link_to user_path(@word.user) do %>
          <%= attachment_image_tag(@word.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
          <%= @word.user.name %>
          <% end %>
        </td>
        <td><%= link_to @word.title, words_path(@word) %></td>
        <td><%= @word.body %></td>
        <!-- ここからイイネ表示 -->
        <% if @word.favorited_by?(current_user) %>
        <td>
          <%= link_to word_favorites_path(@word), method: :delete do %>
          <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
          <%= @word.favorites.count %> いいねしたよ
          <% end %>
        </td>
        <% else %>
        <td>
          <%= link_to word_favorites_path(@word), method: :post do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <%= @word.favorites.count %> いいねしてね
          <% end %>
        </td>
        <% end %>
        <!-- ここまでイイネ表示 -->
        <% if @word.user.id == current_user.id %>
        <td><%= link_to "Edit", edit_word_path(@word), class: "btn-sm btn-success edit_word_#{@word.id}" %></td>
        <td><%= link_to "Destroy", word_path(@word), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_word_#{@word.id}" %></td>
        <% end %>
      </tr>
    </table>

    <%# ここからコメント機能 %>
    <table class="table">
      <% @word.comments.each do |comment| %>
      <tr>
        <td>
          <%= link_to user_path(comment.user.id) do %>
          <%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
          <%= comment.user.name %>
          <% end %>
        </td>
        <td>
          <%= comment.comment %>
          <% if comment.user == current_user %>
          <%= link_to "Destroy", word_comment_path(comment.word, comment), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_word_#{@word.id}" %></td>
        <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%# ここからコメント投稿フォーム %>
    <div class="section-title-wrapper style-1 v1 mt-30" id="divAddComment">
      <h3 class="section-title left">
        <span>コメント</span>
      </h3>
    </div>
    <%= form_for [@word, @comment] do |f| %>
    <%# ここからエラーメッセージ %>
    <% if @comment.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%# ここまでエラーメッセージ %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.text_area :comment, class: "form-control",placeholder: "コメントをここに" %>
      </div>
    </div>
    <%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
    <% end %>
    <%# コメント機能ここまで %>

  </div>
</div>