<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @word.title %>
</p>

<p>
  <strong>時間</strong>
  <%= @word.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @word.body %>
</p>

<%= link_to "Edit", edit_word_path(@word) %> |
<%= link_to "Back", words_path %>
