<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-xs-12">
      <h3 class="heading">「ひとこと」の詳細</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>日付時刻</th>
            <th>タイトル</th>
            <th>ひとこと</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @word.start_time.strftime("%m月%d日 %H:%M") %></td>
            <td><%= @word.title %></td>
            <td><%= @word.body %></td>
            <td><%= link_to "編集", edit_word_path(@word.id), class: "btn btn-primary" %></td>
            <td>
              <%= link_to "削除",word_path(@word.id), method: :delete, data: { confirm: "「ひとこと」を削除しますか？" }, class: "btn", id: "btn-delete" %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= link_to "「ひとこと」一覧に戻る", words_path, class: "btn btn-primary return" %>
    </div>
  </div>
</div>
