<div class="container">
  <h1>お問い合わせ内容を記入してください</h1>
  <%= form_with(model: @contact, local: true) do |f| %>
  <%# エラーメッセージ %>
  <%= render 'users/shared/error_massages_ja', tmp: @contact %>
  <div class="title">
    <%= f.label :タイトル %><br>
    <%= f.text_field :title, placeholder: "タイトル" %>
  </div>
  <div class="body">
    <%= f.label :お問い合わせ内容 %><br>
    <%= f.text_field :body, placeholder: "お問い合わせ内容" %>
  </div>
  <div class="submit">
    <%= f.submit %><%= link_to "戻る", contacts_path, class: "btn-primary return" %>
  </div>
  <% end %>
</div>
