<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= "#{@word.title} 詳細" %></h1>
      <table class="table table-bordered">
        <tr>
          <th><%= "「ひとこと」ID" %></th>
          <td><%= @word.id %></td>
        </tr>
        <tr>
          <th><%= "「ひとこと」タイトル" %></th>
          <td><%= @word.title %></td>
        </tr>
        <tr>
          <th><%= "「ひとこと」内容" %></th>
          <td><%= @word.body %></td>
        </tr>
        <tr>
          <th><%= "投稿時刻" %></th>
          <td><%= @word.start_time.strftime("%m月%d日 %H:%M") %></td>
        </tr>
        <tr>
          <th><%= "投稿者" %></th>
          <td>
            <%= attachment_image_tag(@word.user, :img, :fill, 50, 50, fallback: "noimage.png", size: "50x50", alt:"user_picture" ) %><%= link_to "#{@word.user.name}", admins_user_path(@word.user.id) %>
          </td>
        </tr>
      </table>
      <%= link_to "ひとこと一覧に戻る", admins_words_path, class: "btn btn-primary" %>
      <%= link_to "削除", admins_word_path(@word), method: :delete, data: { confirm: "「ひとこと」を削除しますか？" }, class: "btn", id: "btn-delete" %>
    </div>
  </div>
</div>
