<div class="container">
  <div class="row">
    <div class="col-xs-6 admins_contact_edit">
      <h1><%= "「#{@contact.title}」のへ回答" %></h1>
      <%= form_with model: @contact, url: admins_contact_path, local: true do |f| %>
      <%# エラーメッセージ %>
      <%= render 'users/shared/error_massages_ja', tmp: @contact %>
      <table class="table table-bordered">
        <tr>
          <th><%= "お問い合わせID" %></th>
          <td class="text-center"><%= @contact.id %></td>
        </tr>
        <tr>
          <th><%= "お問い合わせタイトル" %></th>
          <td class="text-center"><%= @contact.title %></td>
        </tr>
        <tr>
          <th><%= "お問い合わせ内容" %></th>
          <td class="text-center"><%= @contact.body %></td>
        </tr>
        <tr>
        <th><%= "回答ステータス" %></th>
        <td class="text-center">
        <%# .pluckで:anser_statusの中身すべて(.distinctで重複を削除)を配列で返し、.sortで配列を昇順にして返している
        （今回の場合[0,1]が返されてそれがenumにより"回答待ち"と"回答済み"で表示されている） %>
            <%= f.select :anser_status, Contact.distinct.pluck(:anser_status).sort %>
        </td>
        </tr>
        <tr>
          <th><%= "回答内容" %></th>
          <td class="text-center"><%= f.text_area :anser, class:"form-control" %></td>
        </tr>
      </table>
      <%= f.submit "回答する", class: "btn btn-primary" %>
      <%= link_to "キャンセル", admins_contact_path(@contact.id), class: "btn btn-primary link_to_btn" %>
      <% end %>
    </div>
  </div>
</div>