<!DOCTYPE html>
<html>
  <head>
    <title>One Word Diary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!---------------------- signin  不要そうなら消す ---------------------->
    <%#
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    %>
  </head>

  <body>


<!---------------------- Navbar ---------------------->
  <section class='bs-docs-section clearfix'>
    <div class='row'>
      <div class='col-lg-12'>

        <div class='bs-component'>
          <nav class='navbar navbar-expand-lg navbar-dark bg-dark fixed-top'>
            <%= link_to 'One Word Diary', homes_about_path, class: 'navbar-brand' %>
            <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarColor02' aria-controls='navbarColor02' aria-expanded='false' aria-label='Toggle navigation'>
              <span class='navbar-toggler-icon'></span>
            </button>

            <div class='collapse navbar-collapse' id='navbarColor02'>
            <!---------------------- userログイン ---------------------->
              
                <% if user_signed_in? %>
                <ul class='navbar-nav mr-auto'>
                  <li class='nav-item'>
                    <%= link_to homes_about_path, class: 'nav-link' do %>
                      One Word Diaryとは？
                    <% end %>
                  </li>
                  <li class='nav-item'>
                    <%= link_to users_path, class: 'nav-link' do %>
                      利用メンバー
                    <% end %>
                  </li>
                  <li class='nav-item'>
                    <%= link_to words_path, class: 'nav-link' do %>
                      ひとこと日記帳
                    <% end %>
                  </li>
                  <li class='nav-item'>
                    <%= link_to contacts_path, class: 'nav-link' do %>
                      お問い合わせ
                    <% end %>
                  </li>
                  <li class='nav-item'>
                    <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                      ログアウト
                    <% end %>
                    <li class='nav-item'>
                    <%= link_to user_path(current_user), class: 'nav-link' do %>
                      <%= "ようこそ！「#{current_user.name}」さん" %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
              <!---------------------- adminログイン ---------------------->

                <% if admin_signed_in? %>
                <ul class='navbar-nav mr-auto'>
                <li class='nav-item'>
                  <%= link_to homes_about_path, class: 'nav-link' do %>
                    One Word Diaryとは？
                  <% end %>
                </li>
                <li class='nav-item'>
                  <%= link_to users_path, class: 'nav-link' do %>
                    利用メンバー
                  <% end %>
                </li>
                <li class='nav-item'>
                  <%= link_to words_path, class: 'nav-link' do %>
                    ひとこと一覧
                  <% end %>
                </li>
                <li class='nav-item'>
                  <%= link_to contacts_path, class: 'nav-link' do %>
                    お問い合わせ
                  <% end %>
                </li>
                <li class='nav-item'>
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                    ログアウトadmin
                  <% end %>
                </li>
                <% end %>
              </ul>
              <!---------------------- ログイン前 ---------------------->
              
                <% unless user_signed_in? || admin_signed_in? %>
                <ul class='navbar-nav mr-auto'>
                  <li class='nav-item'>
                    <%= link_to homes_about_path, class: 'nav-link' do %>
                      One Word Diaryとは？
                    <% end %>
                  </li>
                  <li class='nav-item'>
                    <%= link_to new_user_session_path, class: 'nav-link' do %>
                      ログイン
                    <% end %>
                  </li>
                  <li class='nav-item'>
                    <%= link_to new_user_registration_path, class: 'nav-link' do %>
                      新規登録
                    <% end %>
                  </li>
                <% end %>
              </ul>
              
            </div>
          </nav>
        </div>

      </div>
    </div>
  </section>
    

    <%= yield %>
  </body>
</html>
