<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <%= image_tag "icon_login_bk.svg", id: "icon", alt: "User Icon", size: "30x30" %>
      <p>新規登録</p>
    </div>

    <!-- Login Form -->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", id: "login", class: "fadeIn second", placeholder: "名前" %>
    </div>
    <div class="field">
      <%= f.text_field :nick_name, autocomplete: "nick_name", id: "login", class: "fadeIn second", placeholder: "ニックネーム" %>
    </div>
    <div class="field">
      <%= f.email_field :email, autocomplete: "email", id: "login", class: "fadeIn second", placeholder: "メールアドレス" %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", id: "password", class: "fadeIn third", placeholder: "パスワード（#{@minimum_password_length}文字以上）" %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "password", class: "fadeIn third", placeholder: "パスワード再入力"  %>
    </div>
    <div class="actions">
      <%= f.submit "新規登録", class: "fadeIn fourth" %>
    </div>

  <% end %>

  </div>
</div>
